<toolbar>

</toolbar>

<div class="global-container">

    <div>
        <p class="title">{{'_MANAGE_TO_DO_LIST' | translate}}</p>
        <p class="subtitle">{{'_SUBTITLE_CLICK_ON_CHECKBOX' | translate}}</p>
    </div>

    <div class="col left">
        <div class="div-options">
            <h4>{{'_TODO_LIST' | translate}}</h4>
            <button (click)="onAddToDoItemClicked()" class="add-btn header-btn"></button>
        </div>

        <hr>

        <div class="card-container">

            <div class="card" *ngIf="newToDo!=null">
                    <label class="label-container">
                    <input id="newtodo-title" type="text" [(ngModel)]="newToDo.Title" (keyup.enter)="addToDo()" name="Title">

                    <input type="checkbox" name="IsFinished" [(ngModel)]="newToDo.IsFinished" name="IsFinished">
                    <span class="checkmark checkmark-unchecked"></span>
                </label>
            </div>

            <div class="card" *ngFor="let item of todoList">
                <label class="label-container">{{item.Title}}
                    <input type="checkbox" name="title" value="{item.IsFinished}" [(ngModel)]="item.IsFinished"
                        (change)="onToDoItemStatusChanged(item)">
                    <span class="checkmark checkmark-unchecked"></span>
                </label>

                <button (click)="onDeleteToDoItemClicked(item)" class="item-btn"></button>
            </div>
        </div>

    </div>

    <div class="col right">
        <div class="div-options">
            <h4>{{'_DONE_LIST' | translate}}</h4>
            <button (click)="onDeleteAllDoneItemsClicked()" class="delete-btn header-btn"></button>
        </div>



        <hr>
        <br>

        <ul>
            <li *ngFor="let item of doneList">
                <input type="checkbox" value="{item.IsFinished}" [(ngModel)]="item.IsFinished"
                    (change)="onDoneItemStatusChanged(item)">

                {{item.Title}}

                <button (click)="onDeleteDoneItemClicked(item)">Delete</button>
            </li>
        </ul>
    </div>
</div>