/* List positioning */

.global-container {
    margin-left: 250px;
    margin-right: 250px;
    position: relative;
    margin-top: 40px;
    margin-bottom: 140px;
    height: 100vh;
}

.title {
    font-weight: bold;
    margin-bottom: 2px;
}

.subtitle {
    font-size: 12px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 25px;
    color: gray;
}

.col {
    width: 45%;
    padding: 20px;
    position: absolute;
    background-color: #f5f6fa;
    height: 100vh;
    border-radius: 10px;
}

.left {
    float: left;
}

.right {
    float: right;
    left: 54%;
}

/*END List positioning */

/*List header*/

.div-options {
    margin-bottom: 20px;
}

hr {
    background-color: #e2e2e6;
    border: 0.5px solid #e2e2e6;
}

h4 {
    margin: 0;
    display: inline;
}

.header-btn {
    position: absolute;
    float: right;
    right: 22px;
    background-color: #e6e8ef;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.add-btn {
    background: url('../../../assets/icons/add.png') no-repeat padding-box center;
    border: 1px solid #e6e8ef;
    background-color: #e6e8ef;
}

.delete-btn {
    background: url('../../../assets/icons/delete.png') no-repeat padding-box center;
    border: none!important;
}

/*END List header*/

/*List items*/

.card-container {
    margin-top: 20px;
}

.card {
    background: white;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    font-size: 13px;
}

.item-btn {
    float: right;
    margin-top: -5px;
    background: url('../../../assets/icons/more.png') no-repeat padding-box center;
    background-color: transparent;
    border: none;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.card-checkbox {
    background: url('../../../assets/icons/checkbox-active.png') no-repeat padding-box center;
}

/*Checkbox*/

.label-container {
    position: relative;
    padding-left: 26px;
    font-size: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */

.label-container input[type=checkbox] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

.checkmark {
    position: absolute;
    left: 0;
    height: 18px;
    width: 18px;
}

.checkmark-unchecked {
    background-image: url('../../../assets/icons/checkbox.png')
}

.checkmark-checked {
    background-image: url('../../../assets/icons/checkbox-active.png')
}

.label-container:hover input~.checkmark {
    background-color: transparent;
}

.label-container input:checked~.checkmark {
    background-color: transparent;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/*END Checkbox*/

#newtodo-title {
    border: none;
    width: 87%;
}

#newtodo-title :focus {
    border: none;
}

#newtodo-title :checked {
    border: none;
}

.delete-item {
    background: url('../../../assets/icons/delete-item.png') no-repeat padding-box center;
}

.todo-title {
    border: none;
    width: 80%;
}

/*END List items*/

/*Dropdown*/

.dropdown-content {
    width: 150px;
    position: absolute;
    right: 35px;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-label {
    padding: 12px 16px;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    color: #7f7f7f;
}

.dropdown-item {
    border-bottom: 1px solid #e6e8ef;
    cursor: pointer;
}

.dropdown-img {
    float: left;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

/*END Dropdown*/