<toolbar>

</toolbar>

<div class="global-container">

    <div>
        <p class="title">{{'_MANAGE_TO_DO_LIST' | translate}}</p>
        <p class="subtitle">{{'_SUBTITLE_CLICK_ON_CHECKBOX' | translate}}</p>
    </div>

    <div class="col left" cdkDropList #toDoList="cdkDropList" [cdkDropListData]="todoList"
        [cdkDropListConnectedTo]="[completedList]" (cdkDropListDropped)="onDrop($event)">
        <div class="div-options">
            <h4>{{'_TODO_LIST' | translate}}</h4>
            <button (click)="onAddToDoItemClicked()" class="add-btn header-btn"></button>
        </div>

        <hr>

        <div class="card-container">

            <div class="card" *ngIf="newToDo!=null">
                <label class="label-container">
                    <input type="checkbox" name="IsFinished" [(ngModel)]="newToDo.IsFinished" name="IsFinished">
                    <span class="checkmark"
                        [ngClass]="{'checkmark-unchecked':newToDo.IsFinished != true,'checkmark-checked':newToDo.IsFinished == true}"></span>
                </label>

                <input id="newtodo-title" autofocus type="text" [(ngModel)]="newToDo.Title" (keyup.enter)="addToDo()"
                    name="Title">
            </div>

            <input type="file" accept=".png, .jpg, .jpeg"  #fileInput id="imgupload" style="display:none" (change)="onUploadImageClicked($event)" />

            <div class="main-card" *ngFor="let item of todoList" cdkDrag>
                <img *ngIf="item.Image" src="{{item.Image}}" class="todo-item-image">

                <div class="card">
                    <label class="label-container">
                        <input type="checkbox" name="title" value="{item.IsFinished}" [(ngModel)]="item.IsFinished"
                            (change)="onToDoItemStatusChanged(item)">
                        <span class="checkmark checkmark-unchecked"></span>
                    </label>

                    <input class="todo-title" type="text" [(ngModel)]="item.Title" (keyup.enter)="editToDo(item)"
                        name="Title">

                    <button (click)="onShowDropDownClicked(item)" class="item-btn"></button>
                    <div class="dropdown-content" *ngIf="showDropdown && item.Id==selectedItemId">
                        <div class="dropdown-item">
                            <img src="../../../assets/icons/image.png" class="dropdown-img">
                            <a (click)="uploadImage(item)" class="dropdown-label">{{'_IMAGE' | translate}}</a>
                        </div>

                        <div class="dropdown-item">
                            <img src="../../../assets/icons/delete-item.png" class="dropdown-img">
                            <a (click)=" onDeleteToDoItemClicked(item)"
                                class="dropdown-label">{{'_DELETE' | translate}}</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col right" cdkDropList #completedList="cdkDropList" [cdkDropListData]="doneList"
        [cdkDropListConnectedTo]="[toDoList]" (cdkDropListDropped)="onDrop($event)">
        <div class="div-options">
            <h4>{{'_DONE_LIST' | translate}}</h4>
            <button (click)="onDeleteAllDoneItemsClicked()" class="delete-btn header-btn"></button>
        </div>

        <hr>

        <div class="card-container">
            <div class="main-card" *ngFor="let item of doneList" cdkDrag>
                <img *ngIf="item.Image" src="{{item.Image}}" class="todo-item-image">

                <div class="card">
                    <label class="label-container">
                        <input type="checkbox" name="title" value="{item.IsFinished}" [(ngModel)]="item.IsFinished"
                            (change)="onDoneItemStatusChanged(item)">
                        <span class="checkmark checkmark-checked"></span>
                    </label>

                    <p style="display: inline;" class="done-title">{{item.Title}}</p>

                    <button (click)="onDeleteDoneItemClicked(item)" class="item-btn delete-item"></button>
                </div>
            </div>
        </div>
    </div>
</div>