<form [formGroup]="loginForm">
    <div>
        <div *ngIf="isError==true">
            <div>
                {{errorMessage}}
            </div>
        </div>


        <div>
            <label>Email</label>
            <input type="text" [formControl]="loginForm.controls['email']"
                [ngClass]="{'has-error':!loginForm.controls['email'].valid}" placeholder="Unesite email"
                name="emailInput">
        </div>

        <div>
            <label>Password</label>
            <input type="text" [formControl]="loginForm.controls['password']"
                [ngClass]="{'has-error':!loginForm.controls['password'].valid}" placeholder="Unesite password"
                name="passwordInput">
        </div>

        <div>
            <label>Remember me</label>
            <input type="checkbox" [formControl]="loginForm.controls['rememberMe']">
        </div>

        <div>
            <label>Forget your password?</label>
        </div>

        <div>
            <button (click)="onSignInClicked(loginForm.value)" [disabled]="!loginForm.valid">Sign in</button>
        </div>

    </div>

</form>