<form [formGroup]="loginForm">
    <div>
        <div *ngIf="isError==true">
            <div>
                {{errorMessage}}
            </div>
        </div>


        <div>
            <label>{{'_EMAIL' | translate}}</label>
            <input type="text" [formControl]="loginForm.controls['email']"
                [ngClass]="{'has-error':!loginForm.controls['email'].valid}" placeholder="{{'_ENTER_EMAIL' | translate}}"
                name="emailInput">
        </div>

        <div>
            <label>{{'_PASSWORD' | translate}}</label>
            <input type="password" [formControl]="loginForm.controls['password']"
                [ngClass]="{'has-error':!loginForm.controls['password'].valid}" placeholder="{{'_ENTER_PASSWORD' | translate}}"
                name="passwordInput">
        </div>

        <div>
            <label>{{'_REMEMBER_ME' | translate}}</label>
            <input type="checkbox" [formControl]="loginForm.controls['rememberMe']">
        </div>

        <div>
            <label>{{'_FORGET_PASSWORD' | translate}}</label>
        </div>

        <div>
            <button (click)="onSignInClicked(loginForm.value)" [disabled]="!loginForm.valid">{{'_SIGN_IN' | translate}}</button>
        </div>

    </div>

</form>