<div class="container">
    <form [formGroup]="loginForm" class="login-form">

        <div class="wrapper">
            <div *ngIf="isError==true" class="error">
                {{errorMessage}}
            </div>

            <div>
                <img src="../../../assets/icons/logo.png" class="logo-img">
            </div>

            <div class="form-control">
                <input type="text" class="form-input" [formControl]="loginForm.controls['email']"
                    [ngClass]="{'has-error':!loginForm.controls['email'].valid && submitted}"
                    placeholder="{{'_EMAIL' | translate}}" name="emailInput">
            </div>

            <div class="form-control">
                <input type="password" id="passwordId" class="form-input" [formControl]="loginForm.controls['password']"
                    [ngClass]="{'has-error':!loginForm.controls['password'].valid && submitted}"
                    placeholder="{{'_PASSWORD' | translate}}" name="passwordInput">

                <span [ngClass]="{'fa-eye':!showPassword, 'fa-eye-slash':showPassword}" class="fa fa-lg toggle-password"
                    (click)="toggle()" id="togglePassword"></span>
            </div>

            <div class="row login-form-section">
                <div class="col m--align-left m-login__form-left">
                    <label class="label-container">{{'_REMEMBER_ME' | translate}}
                        <input type="checkbox" name="rememberMe" [formControl]="loginForm.controls['rememberMe']">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="col m--align-right m-login__form-right">
                    <a href="javascript:;" id="m_login_forget_password"
                        class="m-link">{{'_FORGET_PASSWORD' | translate}}</a>
                </div>
            </div>

            <div>
                <button class="signin-button"
                    (click)="onSignInClicked(loginForm.value)">{{'_SIGN_IN' | translate}}</button>
            </div>

        </div>

    </form>
</div>