<div class="navigation-bar">
    <div id="navigation-container">
        <img src="../../../assets/icons/logo.png" class="logoImg">

        <ul id="menu">
            <li (click)="onShowDropdownClicked()">
                <div class="username">{{username}}</div>
                <a class="btn" ></a>

                <div class="dropdown-content" *ngIf="showDropdown">
                    <!-- <img src="../../../assets/icons/logout.png" class="logoutImg"> -->
                    <i class="material-icons logoutImg">exit_to_app</i>

                    <a  (click)="onLogoutClicked()" class="logout">{{'_LOGOUT' | translate}}</a>
                </div>
            </li>
        </ul>
    </div>
</div>