<!-- <div>
    <img src="../../../assets/icons/logo.png">

    <img src="../../../assets/icons/avatar.png">
    <span>{{username}}</span>

    <div>
        <button (click)="onLogoutClicked()">Logout</button>
    </div>
</div> -->

<div class="navigation-bar">
    <div id="navigation-container">
        <img src="../../../assets/icons/logo.png" class="logoImg">

        <ul id="menu">
            <li>
                <div class="username">{{username}}</div>

                <a class="btn" href="#"> </a>
            </li>
        </ul>
    </div>
</div>