
#navigation-container {
    margin: 0 auto;
    height: 70px;
}

.navigation-bar {
    background-color: #f5f6fa;
    height: 60px;
    width: 100%;
    text-align: center;
}

.logoImg {
    float: left;
    width: 95px;
    margin-top: 15px;
    margin-left: 250px;
}

.navigation-bar ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.navigation-bar li {
    list-style-type: none;
    padding: 0px;
    display: inline;
}

.navigation-bar li a {
    color: black;
    font-size: 16px;
    text-decoration: none;
    line-height: 70px;
    padding: 5px 15px;
    opacity: 0.7;
}

#menu {
    float: right;
    margin-right: 250px;
    cursor: pointer;
}

.btn {
    background:url(../../../assets/icons/avatar.png) no-repeat padding-box center;
    background-color: #dadadd;
    background-size: 20px 25px;
    height: 25px;
    width: 5px;
    border-radius: 50%;
    border: 1px solid #d2d3d5;
    float: right;
    margin-top: 10px;
  }

  .username{
    position: absolute;
    display: inline;
    padding-top: 20px;
    margin-right: 50px;
    right: 250px;
    font-size: 12px;
    font-weight: bold;
  }

  .dropdown-content {
   position: absolute;
   right: 250px;
   top: 50px;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
  }
  
  .logout {
    color: black;
    padding: 12px 16px;
    font-size:12px!important;
    line-height:20px!important;
    text-decoration: none;
    display: block;
    margin-right: 40px;
  }

  .logoutImg{
    position: absolute;
    float: left;
    left: 5px;
    top: 5px;
  }